@model DTO.PrestamoDTO

@{
    ViewBag.Title = "Details";
   DTO.UsuarioDTO usuario = ViewBag.usuario;
    List<Factory.FormaPago> formaPagos = (List<Factory.FormaPago>)ViewBag.FormasPagos;
    List<Factory.TipoPago> tipoPagos = (List<Factory.TipoPago>)ViewBag.TipoPagos;
    string refe = DateTime.Now.ToOADate().ToString();
}

<h2>Detalles</h2>
<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-circle-info"></i>
        Informacion General
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Referencia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Referencia)
                    </dd>
                </dl>
            </div>
            @if (Model.Fiador != null)
            {
                <div class="col-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Fiador.Identificacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fiador.Identificacion)
                        </dd>
                    </dl>
                </div>
            }
            <div class="col-4">
                <dl class="dl-horizontal">
                    <dt>
                        Cliente
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cliente.NombreCompleto)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>
                        Empleado
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Empleado.NombreCompleto)
                    </dd>

                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Estado.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Estado.Nombre)
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>

                    <dt>
                        @Html.DisplayNameFor(model => model.Modo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Modo)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Monto)
                    </dt>

                    <dd>
                        @Model.Monto.ToString("C0")
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tiempo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tiempo)
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Interes)
                    </dt>

                    <dd>
                        @Model.Interes.ToString("#'%'")
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>

                    <dd>
                        @Model.Fecha.ToString("yyyy-MM-dd")
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Observacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Observacion)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-comments-dollar"></i>
        Detalles del prestamo
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table id="datatablesSimple" class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Periodo</th>
                            <th>Referencia</th>
                            <th>Fecha</th>
                            <th>Valor</th>
                            <th>Abonos</th>
                            <th>Saldo</th>

                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Amortizacions)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Periodo</td>
                        <td>@item.Referencia</td>
                        <td>@item.Fecha.ToString("yyyy/MM/dd")</td>
                        <td>@String.Format("{0:C0}", item.Valor)</td>
                        <td>@String.Format("{0:C0}", item.Abono) </td>
                        <td>@String.Format("{0:C0}", item.Valor - item.Abono)</td>

                        <td>
                            @if (!item.PagoCompleto)
                            {
                                <button title="pagar cuotas" onclick="Pagar(@item.Id)" class="btn btn-primary">
                                    <i class="fa-solid fa-cash-register"></i>
                                </button>
                            }
                        </td>
                        <td>
                            <a title="Detalles de pagos" href="@Url.Action("index", "pay", new { CuotaId = item.Id })" class="btn btn-info">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>

                    <dd>
                        @Model.Total.ToString("C0")
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.TotalAmortizado)
                    </dt>

                    <dd>
                        @Model.TotalAmortizado.ToString("C0")
                    </dd>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Saldo)
                    </dt>

                    <dd>
                        @Model.Saldo.ToString("C0")
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <p>
        <a href="@Url.Action("Index","Loan",new { identificacion = Model.Cliente.Identificacion })" class="btn btn-primary"><i class="fa-solid fa-house"></i></a>
        <a target="_blank" class="btn btn-danger" href="@Url.Action("PayHistorial","Loan",new { idprestamo=Model.Id })"><i class="fa-solid fa-file-pdf"></i></a>


    </p>
 </div>
        <div id="Pays">
            <form action="@Url.Action("create","pay")" id="payAdd" autocomplete="off" method="post">
                <input type="hidden" id="AmortizacionId" name="AmortizacionId" />
                <input type="hidden" id="EmpleadoId" name="EmpleadoId" value="@usuario.Empleados[0].Id" />
                <div class="form-group">
                    <label for="Referencia">Referencia</label>
                    <input type="text" id="Referencia" name="Referencia" value="@refe" readonly class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Fecha">Fecha</label>
                    <input type="date" id="Fecha" name="Fecha" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Referencia">Pago Maximo</label>
                    <input type="text" id="pagoMaximo" disabled name="pagoMaximo" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="ValorPagar">Valor a Pagar</label>
                    <input type="number" step="0.01" id="ValorPagar" name="ValorPagar" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Observaciones">Observaciones</label>
                    <textarea id="Observaciones" name="Observaciones" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="FormaPagoId">Forma de Pago</label>
                    <select id="FormaPagoId" name="FormaPagoId" class="form-select">
                        <option value="">-- Seleccione una forma de pago --</option>
                        @foreach (var formaPago in formaPagos)
                        {
                            <option value="@formaPago.Id">@formaPago.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="TipoPagoId">Tipo de Pago</label>
                    <select id="TipoPagoId" name="TipoPagoId" class="form-select">
                        <option value="">-- Seleccione un tipo de pago --</option>
                        @foreach (var tipoPago in tipoPagos)
                        {
                            <option value="@tipoPago.Id">@tipoPago.Nombre</option>
                        }
                    </select>
                </div>
            </form>
        </div>
