@model IEnumerable<DTO.PrestamoDTO>

@{

    ViewBag.Title = "index";
    DTO.ClienteDTO clienteDTO = (DTO.ClienteDTO)ViewBag.Cliente;
    int empleadoId = (int)ViewBag.EmpleadoId;
    List<Factory.TipoCobro> tipoCobros = ViewBag.Tipocobro;
    int clienteId = 0;
    string codigo = DateTime.Now .ToOADate().ToString();
    if (clienteDTO != null)
    {
        clienteId = clienteDTO.Id;
        codigo = codigo + clienteDTO.Identificacion;

    }
}

<h2>Listado de prestamos</h2>

@if (clienteDTO != null)
{
    @Html.Partial("_SearchCliente", clienteDTO)
}
else
{
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa-solid fa-user"></i>
            Busqueda de Cliente
        </div>
        <div class="card-body">
            <form autocomplete="off" action="@Url.Action("index","Loan")" method="get" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">                    
                    <input id="identificacion" name="identificacion" class="form-control" type="text" placeholder="Identificación del Cliente" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button type="submit" class="btn btn-primary" id="btnNavbarSearch"><i class="fas fa-search"></i></button>
                </div>
            </form>            
        </div>
    </div>

}
<table id="datatablesSimple" class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Empleado
            </th>
            <th>
                Fiador
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalAmortizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>           
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiador.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Referencia)
                </td>
                <td>
                    @item.Monto.ToString("C0")
                </td>
                <td>
                   @item.Interes.ToString("#'%'")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tiempo)
                </td>
                <td>
                    @item.Fecha.ToString("yyyy/MM/dd")
                </td>
                <td>@item.Cuota.ToString("C0")</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modo)
                </td>
                <td>
                    @item.Total.ToString("C0")
                </td>
                <td>
                    @item.TotalAmortizado.ToString("C0")
                </td>
                <td>
                    @item.Saldo.ToString("C0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>
                <td>
                    <a title="Ver detalles" class="btn btn-info" href="@Url.Action("Details", "loan", new { id = item.Id })">
                        <i class="fa-solid fa-comment-dollar"></i>
                    </a>
                </td>
                <td>
                    <form onsubmit="return validar('Desea eliminar el Prestamo?')" action="@Url.Action("delete","loan")" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button title="Eliminar prestamo" class="btn btn-danger" type="submit"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>
<p>
    <button class="btn btn-primary" title="Crear prestamo" onclick="CrearPrestamo(); "><i class="fa-solid fa-landmark"></i></button>
    <a target="_blank" class="btn btn-danger" href="@Url.Action("LoanHistorial","Loan")"><i class="fa-solid fa-file-pdf"></i></a>

</p>
<div id="loans">
    <input type="hidden" name="codigo" id="codigo" value="@codigo" />
    <input type="hidden" name="clienteId" id="clienteId" value="@clienteId" />
    <input type="hidden" name="empleadoId" id="empleadoId" value="@empleadoId" />
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label" for="monto">
                    Fiador
                </label>
                <input type="text" class=" form-control" name="fiador" value="" id="fiador" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="monto">
                    Fecha
                </label>
                <input type="date" class=" form-control" name="fecha" value="" id="fecha" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="monto">
                    Monto
                </label>
                <input type="number" class=" form-control" name="monto" value="" id="monto" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="monto">
                    Porcentaje
                </label>
                <input type="number" class=" form-control" name="porcentaje" value="" id="porcentaje" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="monto">
                    Tiempo
                </label>
                <input type="number" class=" form-control" name="tiempo" value="" id="tiempo" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="monto">
                    Tipo cobro
                </label>
                <select class="form-select" id="tipocobro" name="tipocobro">
                    <option value=""> seleccione una opcion</option>
                    @foreach (var item in tipoCobros)
                    {
                        <option value="@item.Id">@item.Nombre  </option>
                    }
                </select>
            </div>
            <button class="btn btn-success" id="cuotas">Generar cuotas</button>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label" for="monto">
                    Cuota
                </label>
                <input type="text" class=" form-control" name="cuota" value="" id="cuota" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="monto">
                    Total                    
                </label>
                <input type="text" class=" form-control" name="Total" value="" id="Total" />   
            </div>

            <table class="table" id="tblCuota">
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <th>Referencia</th>
                        <th>Fecha</th>
                        <th>Valor</th>

                    </tr>
                </thead>
                <tbody style="overflow-y:scroll; height:100px">
                </tbody>
            </table>
        </div>
    </div>

</div>
