@model IEnumerable<DTO.PagoDTO>

@{
    DTO.AmortizacionDTO cuotaDTO =(DTO.AmortizacionDTO) ViewBag.cuota;
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
</p>
<table id="datatablesSimple" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPagar)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.FormaPago.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Referencia
        </td>
        <td>
            @item.Fecha.ToString("yyyy/MM/dd")
        </td>   
        <td>
            @item.ValorPagar.ToString("C0")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPago.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPago.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
